body {
  background: #f6f6f6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding-top: 51px;
}

a {
  transition: .3s ease color;
}

a:hover {
  color: #f86000;
  text-decoration: none;
}

a,
a:active,
a:active:hover,
a:active:focus,
a:focus {
  color: #f96d01;
  text-decoration: none;
}
