.tooltip > .tooltipArrow {
  border-top-color: #f86000 !important;
}

.tooltipInner {
  background-color: #fff;
  border: 2px solid #f86000;
  border-radius: 3px;
  color: #f86000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.tooltipInner:hover {
  background-color: #f86000;
  color: #fff;
}
